.button {
    padding: 3px 5px;
    text-decoration: none;
    display: inline-block;
}

#top-image {
    .center {
        padding: 170px 2%;

        p,
        h1 {
            color: white;
            text-shadow: 2px 2px 3px black;
            max-width: 500px;
        }

        a {
            text-decoration: none;
            color: white;
        }
    }
}

#toggle,
nav label {
    display: none;
}

.box-shad {
    padding: 10px 20px;
    background: rgba($color: black, $alpha: 0.4);
    max-width: 500px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

th {
    border-bottom: 1px solid #d2d2d2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

table {
    margin-bottom: 150px;
}

.tablegap {
    margin: 20px 0;
}

.middle {
    display: flex;
    align-self: center;
}

.fullWide {
    width: 100%;
    max-width: 1080px;
}

input {
    margin: 0px 0px;
    padding: 4px;
    background-color: #fff;
    border: 1pt solid #dedede;
    border-radius: 2px;
}

button,
.btn-primary {
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-bottom: 5px;
    margin-top: 30px;
    border: 0;
    border-radius: 5px;
    color: white;
    background: #000;
    transition: 0.5s;
}

button:hover,
.btn-primary:hover {
    background: #444;
    transition: 0.5s;
}

.navbar-brand {
    position: relative;
    top: -15px;
}