@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">MegaDesk Quote Writer </h1>

    <P> Welcome to MegaDesk Quote Writer. This program is designed to take the guess work out of quoteing a new desk.</P>
</div>
<div>
    <h2> Links</h2>
    <p>Visit the store website at <a href="https://www.MegaDesk.com">.MegaDesk.com</a>.</p>

    <p>If you have any issues please feel free to contact Techinical support at</p><br>
    <a href="mailto:Techsupport@MegaDesk.com" target="_top">Techsupport@MegaDesk.com</a>
</div>